// Place all the styles related to the api/bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bill-index-item {
  background-color: #F8F8F8;
  padding: 15px;
  color: #333333;
}

.bill-index-item h1 {
  font-size: 16px;
}

.bill-index-item p {
  font-size: 13px;
}

.bill-index-item strong {
  font-weight: 700;
}

.bill-index-item-header {
  background: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow:
  0 2px 5px rgba(0,0,0,0.2);
  width: calc(100% + 10px);
  margin-left: -15px;
  padding: 10px;
}

.bill-index-item-header-left p {
  padding-top: 7px;
  padding-left: 10px;
}

.bill-index-item-header p {
  font-size: 16px;
  font-weight: 700;
}

.bill-index-item-header-right {
  display: flex;
}

.bill-index-item-header-right div {
  padding-right: 15px;
}

.bill-index-item-header-paid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bill-index-item-header-lent {
  color: #5bc4a7;
}

.bill-index-item-header-right button {
  color: white;
  border: none;
  padding: 0;
  font-size: 20px; 
  font-weight: 700;
  border-bottom: 2px solid white;
}

.bill-index-item-header-right button:hover {
  color: #c00;
  cursor: pointer;
  border-bottom: 2px solid #c00;
  border-radius: 0px;
  margin: -7px 0 7px;
}

.bill-index-item-header-right h4 {
  color: #aaa;
  font-size: 12px;
  padding-bottom: 3px;
}

.bill-index-item-info {
  display: flex;
  padding: 0 0 10px;
}

.bill-index-item-info img {
  width: 86px;
  height: 86px;
  border: 1px solid black;
  background: #aaa;
}

.bill-index-item-info > div {
  padding: 5px 10px 0 10px;
}

.bill-index-item-info h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 2px 0 5px 0;
}

.bill-index-item-info p {
  font-size: 12px;
  color: #999999;
  padding: 0 0 5px;
}

.bill-index-item-info .orange-btn {
  font-size: 12px;
  padding: 2px 6px;
}

.bill-index-item-breakdown  {
  display: flex;
  padding: 10px 0;
}

.bill-index-item-breakdown ul {
  width: 50%;
}

.bill.index-item-breakdown > div {
  width: 50%;
}

.bill-index-item-breakdown h1 {
  font-size: 12px;
  font-weight: 700;
  color: #999999;
  padding: 0 0 5px;
}

.in-the-red {
  color: red;
}

.cash-money {
  color: #5bc4a7;
}

.cash-money h4 {
  font-size: 28px;
  font-weight: 700;
  padding: 5px 0;
}