.about-links {
  display: flex;
  justify-content: space-around;
}

.icon-links {
  font-size: 64px;
  color: #5BC5A7;
  padding-top: 5px;
  border-bottom: 2px;
}

.icon-links:hover {
  color: #54bfa1;
  border-bottom: 0px;
  margin-top: 2px;
}

.dashboard-container {
  display: flex;
  color: #999999;
  height: 100%;
}

.dashboard-container a:visited {
  color: #999999;
}

.main-content-left {
  width: calc(20%-20px);
  margin: 10px;
}

.main-content-left h1 {
  padding: 5px;
}

.main-content-left a {
  display: block
}

.main-content-left > h1:hover {
  background-color: #eee;
}

.recent-activity a {
  display: block;
  color: #ff652f;
}

.recent-activity > h1 > a:visited {
  color: #ff652f;
}

.recent-activity p:hover, .recent-activity h1:hover {
  background-color: #eee;
}

.recent-activity p {
  font-size: 14px;
  padding: 5px;
}

.dashboard-container input {
  padding: 3px;
  color: #555555;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  margin: 5px;
}

input::placeholder {
  color: #aaa;
  opacity: 1;
  font-weight: 400;
}

.add-friend-form button, .friend-settings button {
  background-color: #EEEEEE;
  color: #333333;
  font-size: 12px;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  letter-spacing: 0.2px;
}

.friend-settings button {
  background-image: linear-gradient(white, #ddd);
}

.add-friend-form button:hover, .friend-settings button:hover {
  background-color: #e8e8e8;
  background-image: none;
}

.friends-index {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}

.friends-index a {
  display: block;
}
.friends-index li {
  padding: 5px;
}

.friends-index li:hover {
  background-color: #eee;
}

.add-friend-form div{
  border: 1px solid #ccc;
  border-top: none;
}

.add-friend-form h1 {
  color: white;
  background-color: #5BC5A7;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid gray;
}

.add-friend-form p {
  font-size: 13px;
  margin: 5px;
}

.dashboard-container h2 {
  font-size: 11px;
  background-color: #F6F6F6; 
  color: #CCCCCC;
}

.dashbar-header {
  display: flex;
  background-color: #F6F6F6;
  font-size: 11px;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.friends-header p {
  font-weight: 700;
}

.dash-content-container {
  width: 80%;
  display: flex;
}

.main-content-center {
  width: calc(74.938% - 30px);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 15px;
  box-shadow:
  0 0 15px rgba(0,0,0,0.2);
}

.main-content-center > ul {
  // align-items: stretch;
  // flex-direction: column;
  width: 100%;
}

.dash-expenses {
  display: flex;
  margin: 30px;
}

.dash-expenses img {
  width: 30%;
  margin: 20px;
}

.dash-expenses div {
  padding: 20px 5px 20px 20px;

}

.dash-expenses h1 {
  font-size: 28px;
  color: black;
  font-weight: 700;
  padding-bottom: 20px;
}

.dash-expenses p {
  font-size: 18px;
  line-height: 1.4;
}

.main-content-right {
  // width: 25.062%;
}

.dash-content-header {
  display: flex;
  justify-content: space-between;
  background-color: #EEEEEE;
  border-bottom: 1px solid #ddd ;
}

.dash-content-header div {
  display: flex;
}

.dash-content-header p {
  background-color: #3a87ad;
  color: white;
  display: block;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 5px;
  height: 12px;
  margin-top: 25px;
}
.dash-content-header ul {
  display: flex;
}

.dash-content-header h1 {
  font-size: 24px;
  padding: 20px 5px 20px 20px;
  color: black;
  font-weight: 700;
}

.dash-content-header .orange-btn, .dash-content-header .green-btn {
  margin: 10px 10px 10px 0;
  font-size: 15px;
  color: white;
}

.dash-content-header .green-btn {
  background-color: #5BC5A7;
}

.main-content-right {
  padding: 10px;
}

.main-content-right h1 {
  font-size: 13px;
  font-weight: 700;
  padding: 7px 0;
}